@import "tailwindcss";

@theme {
  --font-saonara: "Saonara", serif;
  --font-satoshiR: "Satoshi Regular", sans-serif;
  --font-satoshiI: "Satoshi Medium Italic", sans-serif;
  --font-satoshiM: "Satoshi Medium",  sans-serif;
  --color-Black: rgba(0, 0, 0, 1);
  --color-TextBlack: rgba(0, 0, 0, 0.7);
  --color-PBlack: rgba(0, 0, 0, 0.6);
  --color-BgCover: rgba(0, 0, 0, 0.5);
  --color-PryWhite: rgba(255, 255, 255, 0.1);
  --color-SecWhite: rgba(255, 255, 255, 0.6);
  --color-ShadowBG: rgba(255, 255, 255, 0.5);
  --color-VaultBg: rgba(235, 233, 233, 1);
  --color-VaultText: rgba(209, 146, 108, 1);
  --inset-shadow-md: inset 0px 2px 4px 0px rgba(255, 255, 255, 0.4);
  --blur-10xs: 10px
}

@font-face {
  font-family: 'Saonara';
  src: url('./Fonts/MADE\ SAONARA\ PERSONAL\ USE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Regular'), url('./Fonts/Satoshi-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Satoshi Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Medium'), url('./Fonts/Satoshi-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Satoshi Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Medium Italic'), url('./Fonts/Satoshi-MediumItalic.woff') format('woff');
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 255);
  background-color: #fbfafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}


/* backdrop-filter: blur(10px) */

/* box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.4) inset; */

